<div class="request_form">

	<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>

	<%= form_for :request, :url => {:action => :create, :controller => :requests} do |f| %>

	<div class="request_message">
		<%= f.text_area :message, :placeholder => 'Start your message here...' %>
	</div>

	<div class="three_inputs">
		<div class="request_input">
			<%= f.text_field :name, :placeholder => 'Your Name (required)'%>
		</div>

		<div class="request_input">
			<%= f.text_field :email, :placeholder => 'Your Email (required)'%>
		</div>

		<div class="request_input">
			<%= f.text_field :website, :placeholder => 'Your Website' %>
		</div>
	</div>

	<i class="icon-envelope"></i>
	<%= f.submit "", :class => "contact-button general-bg" %>

	<% end %>
</div>