<div class="row">
<% if notice %>
	<p id="notice"><%= notice %></p>
	<% end %>

	<%= form_for :request, :url => {:action => :create, :controller => :requests} do |f| %>

	<div class="col-md-6">
		<%= f.text_area :message, :placeholder => 'Start your message here...' %>
	</div>

	<div class="col-md-6">
			<%= f.text_field :name, :placeholder => 'Your Name (required)' %>

			<%= f.text_field :email, :placeholder => 'Your Email (required)' %>
	
			<%= f.text_field :website, :placeholder => 'Your Website' %>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="contact-button general_bg">
		<i class="icon-envelope"></i>
		<%= f.submit "" %>
		<% end %>
		</div>
	</div>
</div>